.page-bottom {
  border-top: 1px solid black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__loading {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    font-family: "Poppins";
    font-size: 24px;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
