%label-hover {
  background-color: black;
  color: white;
}

%triangle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

%label {
  position: relative;
  background-color: white;
  padding: 16px 40px;
  font-family: "Poppins";
  font-size: 16px;
  text-transform: uppercase;
  border-left: 1px solid black;
  border-top: 1px solid black;
  box-sizing: border-box;
}

%content {
  overflow: hidden;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

.sub-menu {
  width: 300px;

  &:hover {
    .sub-menu__content {
      width: 200px;
      border: 1px solid black;
    }

    .sub-menu__label {
      @extend %label-hover;
    }
  }

  &__loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    border-right: none;
    border-left: none;
    border-top: none;
  }

  &__triangle {
    @extend %triangle;
  }

  &__label {
    width: 300px;
    @extend %label;
  }

  &__content {
    @extend %content;
    position: absolute;
    transition: width 0.2s;
    width: 0px;
    height: calc(100vh - 57px);
    margin-left: 300px;
    transform: translate(0px);
    top: 0;
    border-left: 1px solid black;
  }
}

.sub-menu-mobile {
  display: none;
  width: 100%;
  flex-direction: column;

  &_opened {
    .sub-menu-mobile__content {
      max-height: 500px;
    }

    .sub-menu-mobile__triangle {
      transform: translateY(-50%) rotate(90deg);
    }
  }

  &__loading {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    border: none;
  }

  &__triangle {
    transition: transform 0.2s;
    @extend %triangle;
  }

  &__label {
    width: 100%;
    @extend %label;

    &:hover {
      @extend %label-hover;
    }
  }

  &__content {
    @extend %content;
    height: calc(100vh - 57px);

    transition: max-height 0.2s;
    max-height: 0;
    height: min-content;
    border: none;
  }
}

@media screen and (max-width: 650px) {
  .sub-menu {
    display: none;
  }

  .sub-menu-mobile {
    display: flex;
  }
}
